.page {
  
}

.authButtons {
  display: flex;
  gap: 2vw;
  justify-content: center;
}

.hero {
  text-align: center;
  margin-top: 15vh;
  margin-bottom: 10vh;

  h1 {
    font-size: 3rem;
    margin-bottom: 2vh;
  }

  p {
    font-size: 1.5rem;
    color: var(--foreground);
    margin-bottom: 3vh;
  }
}

.authButtons button{
  cursor: pointer;
  padding: 1vh 2vw;
  border: none;
  border-radius: 5px;
  background-color: var(--foreground);
  color: var(--background);
  font-size: 1rem;
  transition: background-color 0.3s, color 0.3s;

  &.primary {
    background-color: var(--primary);
    color: var(--primary-foreground);
  }
}